/* home page css */
body{
  background-color: #FAF9F5;
  position: relative;
  margin: 0;
  padding: 0;
}

.watif-logo{
  color: #F1641E !important;
  font-family: time;
  font-size: 3.5vw;
  font-weight: 100;
}

.logo{
  background-color: #ffffff !important;
  font-size: 3vw !important;
  margin-bottom: 7vh !important;
  margin-top: -1vh !important;
  padding-top: 3vh !important;
  padding-bottom: 0vh !important;
}

.home-page{
  display: flex;
  align-items: center;
}

.filter-container{
  width: 12vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 25vh;
  margin-left: 2vw;
}

.sort-by-input{
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.sort-input-field{
  margin-top: 1vh !important;
}

.sort-label-tag{
  margin-left: 0.5vw;
  margin-top: -1.5vh;
}

.all-items-container{
  margin-top: 7vh;
  margin-left: 14vw !important;
  margin-bottom: 10vh;
}

.ui.card>.image>img{
  height: 25vh !important;
  width: 18vw;
}

.item-card-price-header{
  color: #000000;
  font-size: 1.2vw;
  margin-top: 1vh !important;
  margin-bottom: 1vh !important;
}

.item-card-price{
  color: #000000;
  margin-bottom: -10vh !important;
}

.logged-in-menu-bar{
  margin-top: -10vh !important;
  margin-left: 75vw !important;
  width: 19.7vw fixed !important;
  position: absolute !important;
  right: 0 !important;
}

#menu-bar-tags{
  color: #000000 !important;
}

.signup-menu-bar{
  margin-top: -10vh !important;
  margin-left: 75vw !important;
  width: 19.7vw fixed !important;
  position: absolute !important;
  right: 0 !important;
}

.sign-in{
  color: #000000;
  font-weight: bold;
  font-size: 1vw;
}

.sign-in:hover{
  cursor: pointer;
}

.search-form{
  width: 50vw;
  margin-left: 22vw;
  margin-bottom: 4vh;
  margin-top: -4vh;
  
}

/* item show page css */
.item-info-card{
  margin-top: 6vw;
  margin-bottom: 10vh;
}

.average-rating-on-item{
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 1vw;
  color: #595959;
  height: 1vh;
}

.item-image-description-block{
  display: flex;
  align-items: center;
}

.item-image{
  width: 40vw !important;
  height: 100vh !important;
  margin-left: -4vw !important;
  border-radius: 0.5vw !important;
}

.item-title-header{
  margin-top: 4vh !important;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif !important;
}

.item-info{
  margin-left: 8vw;
  font-size: 1.4vw;
  font-family: "Guardian-EgypTT",serif;
}

.item-description{
  margin-top: 5vh !important;
}

.item-price{
  margin-top: 3vh;
  font-size: 2.3vw;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: bold;
}

.item-quantity-left{
  font-weight: 900;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  border: solid 2px #222222;
  border-radius: 2vw;
  width: 23vw;
  text-align: center;
  font-size: 1vw;
  padding: 0.6vw;
}

.item-quantity-left:hover{
  padding: 0.8vw;
}

.add-to-cart-btn{
  background-color: #000000 !important;
  color: #f0f0f0 !important;
  margin-top: -4vh !important;
  margin-bottom: 4vh !important;
  border-radius: 2vw !important;
  width: 23vw !important;
  padding: 1vw !important;
}

.add-to-cart-btn:hover{
  background-color: #222222 !important;
  color: #f0f0f0 !important;
  border: solid 3px #222222;
}

.item-info-review-separator{
  width: 90vw;
}

.item-card{
  height: 47vh !important;
  width: 18vw !important;
  margin-left: 2vw !important;
  margin-top: 2vh !important;
  margin-bottom: 3vh !important;
}

.order-card-container{
  margin-bottom: 3vh !important;
  width: 40vw !important;
}

.review-header{
  margin-top: 4vh !important;
  margin-bottom: 1.5vh !important;
  text-decoration: underline;
}

.review-delete-button{
  font-size: 0.8vw;
  padding-left: 1vw;
  text-decoration: underline;
  display: inline;
  word-wrap: break-word;
}

.review-delete-button:hover{
  cursor: pointer;
  color: #595959;
}

.review-post-time{
  font-size: 0.7vw;
  color: #595959;
}

.review-username{
  font-size: 1.2vw;
  margin-bottom: 0vh;
  color: #595959;
}

.review-comment{
  font-size: 2.5vh;
  margin-bottom: 3vh !important;
  margin-left: 1vw !important;
}

.rating-stars-card{
  margin-left: 1vw !important;
}

.create-review-button{
  margin-top: 3vh !important;
  margin-bottom: 20vh !important;
}

/* profile container css */
.order-header{
  text-align: center;
  margin-top: 5vh !important;
  margin-bottom: 3vw;
}

.order-cart-item-container{
  display: flex;
  align-items: center;
}

.purchased-time{
  margin-left: 30vw;
  margin-top: 5vh !important;
}

.order-item-info{
  margin-left: 3vw;
  font-size: 1.1vw;
  font-family: "Guardian-EgypTT",serif;
}

.order-segment{
  height: 20vh !important;
}

.order-item-image{
  height: 12vh;
  border: 1px solid #d2d2d2;
  border-radius: 0.4vh;
  padding: 0.4vh;
}

.order-item-title{
  text-decoration: none !important;
  color: #222222 !important;
  font-size: 1.1vw !important;
}

.order-item-title:hover{
  cursor: pointer !important;
  text-decoration: underline !important;
}

.order-item-price{
  margin-top: 3vh;
  font-size: 1vw;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  color: #222222;
}

.profile-header{
  margin-bottom: -7vh !important;
  margin-left: 2vw !important;
  font-size: 2vw !important;
}

.profile-picture{
  height: 18.5vh !important;
  width: 10vw !important;
}

.delete-profile-btn{
  margin-left: 13.5vw !important;
  margin-bottom: 8vh !important;
  font-size: 0.75vw !important;
  font-weight: 400 !important;
  background-color: #FF6347 !important;
  padding: 0.4vw !important;
  color: #f3f2f2 !important;
}

.profile-order-separation{
  width: 90vw;
}

/* login/signup css */
.ui.active.modal{
    display: block;
    width: 28vw;
    height: 100vh;
}

.login-signup-header{
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.login-labels{
  text-align: center;
  margin-top: 3vh !important;
  font-size: 1vw !important;
  margin-bottom: 2vh !important;
}

.login-signup-input-field{
  width: 20vw !important;
}

.login-form{
  display: grid;
  justify-content: center;
  align-items: center;
}

.login-signup-form{
  display: grid;
  justify-content: center;
  align-items: center;
}

.signup-labels{
  margin-top: 0vh !important;
  font-size: 1vw !important;
  text-align: center !important;
  
}

.login-signup-submit-btn{
  display: flex;
  justify-content: center;
  margin-top: 2vh !important;
}

.check-if-have-account{
  display: flex;
  align-items: center;
  margin-left: 2vw;
  margin-top: 8vh;
}

.have-account-title{
  font-size: 1vw;
}

.signup-login-route-button{
  margin-top: -2vh;
  margin-left: 1vw;
  text-decoration: underline;
  color: dodgerblue;
  font-weight: bold;
}

.signup-login-route-button:hover{
  cursor: pointer;
  color: #222222;
}

.invalid-logins{
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 1.1vw;
  text-align: center;
  color: #C13C27;;
}

/* cart items css */
.cart-item-image{
  width: 11vw;
  height: 18vh;
}

.cart-item-info{
  margin-left: 3vw;
  font-size: 1.1vw;
  font-family: "Guardian-EgypTT",serif;
}

.cart-item-price{
  margin-top: 3vh;
  font-size: 1vw;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  color: #222222;
}

.remove-from-cart-btn{
  border-radius: 5vw !important;
  color: #f0f0f0 !important;
  background-color: #000000 !important;
}

/* cart checkout css */
.checkout-container{
  margin-top: 10vh !important;
  margin-left: 10vw !important;
  margin-right: 10vw !important;
  margin-bottom: 25vh !important;
}

.checkout-info{
  text-align: center;
  margin-bottom: 50vh;
}

.checkout-btn{
  margin-top: 10vh !important;
  background-color: #000000 !important;
  color: #f0f0f0 !important;
  width: 12vw !important;
  border-radius: 5vw !important;
}

.item-total-price{
  display: flex;
  align-items: center;
}

.items-total-title{
  margin-left: 1.5vw;
  margin-top: 1vh !important;
  font-size: 1vw;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.items-cart-total{
  margin-left: 23vw;
  margin-top: -0.2vh;
  font-size: 1vw;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.items-shipping-title{
  margin-left: 1.5vw;
  font-size: 1vw;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.items-cart-shipping{
  margin-left: 25vw;
  margin-top: -0.2vh;
  font-size: 1vw;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.total-price-title{
  margin-left: 1.5vw;
  margin-top: 1vh !important;
  font-size: 1vw;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: bold;
}

.cart-total-price{
  margin-top: -0.2vh;
  margin-left: 23vw;
  font-weight: bold;
}

.not-found{
  text-align: center;
}