/* .ui.six.card{
  margin-left: 10vw !important;
  margin-right: 10vw !important;
} */

.cib-etsy{
  color: #f0f0f0 !important;
}

.logo{
  background-color: darkorange !important;
  font-size: 3.5vw !important;
  margin-bottom: 4vh !important;
}

.ui.six.cards{
  margin-top: 7vh;
  margin-left: 4vw;
}

.add-to-cart-btn{
  background-color: #000000 !important;
  color: #f0f0f0 !important;
}

.add-to-cart-btn:hover{
  background-color: #222222 !important;
  color: #f0f0f0 !important;
}

.item-card{
  height: 50vh !important;
  margin-left: 2vw !important;
  margin-bottom: 3vh !important;
}

.logged-in-menu-bar{
  width: 19.7vw !important;
  /* float: right; */
  margin-left: 65vw !important;
  margin-bottom: -10vh !important;
  color: #000000 !important;
}

.signup-menu-bar{
  width: 10vw !important;
  float: right;
}

.sign-in{
  color: #000000;
  font-weight: bold;
}

.signup-login-route-button{
  text-decoration: underline;
  color: dodgerblue;
  font-weight: bold;
}

.order-header{
  text-align: center;
}

.purchased-time{
  margin-left: 25vw;
}

.order-card-container{
  margin-bottom: 3vh !important;
  width: 50vw !important;
}

